#site_main{
    background-color:$main_bg_color;
    padding:20px 0;
    h2{
        text-align: center;
        font-size:  $size_secondaryTitle;
        
    }
    img{
       width:11%;
    }
    .disengagement{
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }
    .disengagement_bunny{
        display: flex;
        justify-content: center; 
        border-bottom: 1px solid gray;
        padding-bottom: 7rem;
    }
    .bunny_img{
        width: 20%;
    }
    
}