//Variables

// typo
$fontFamily:'Roboto', sans-serif;

//Colors
$fontColor: #58402C;
$coloured_btn: #2C4792;
$main_bg_color:#FFE7D2;


// Sizes&dimensions
 $size_mainTitle:40px;
 $widthJumbo: 100%;
 $heightJumbo: 400px;
 $size_secondaryTitle: 22px;